<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/public/icon_robot.png" type="image/png">
  <title>TXT Todo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.master.co/normal.css" rel="stylesheet">
  <style>
    [v-cloak] { display: none; }
    body {
      font-family: 'Noto Sans TC', Arial, sans-serif;
    }
  </style>
  <!-- <script src="https://cdn.master.co/css"></script> -->
  <script src="./src/scripts/script.js" type="module"></script>
</head>
<body
  class="
    grid place-content:center pb:1.25em min-height:100vh
    font:1.2em font:1vw@3xl line-height:1.25 user-select:none"
  :class="`${
    query.isLight
      ? `${style.lightTheme.color} ${style.lightTheme.bg}` :
    query.isDark || prefer.darkMode
      ? `${style.darkTheme.color} ${style.darkTheme.bg}`
      : `${style.lightTheme.color} ${style.lightTheme.bg}`
  }`"
  style="overflow: hidden; pointer-events: none;"
  @vue:mounted="init()"
  @contextmenu.prevent="$event.target.click()"
>
  <header
    v-cloak
    class="sticky top:0 pt:2.5em pb:1.5em w:85vw z:1 ~top|.5s"
    :class="`${
      style.group('min-width:20em w:auto max-width:26.5em', '@xs')
    } ${
      query.isLight
        ? style.lightTheme.bg :
      query.isDark || prefer.darkMode
        ? style.darkTheme.bg
        : style.lightTheme.bg
    }`"
  >
    <h1
      class="word-break:break-all font:1.75em"
      :class="[`${
        query.isLight && !query.isList && totalProgress > 50
          ? 'color:royalblue' :
        query.isLight
          ? 'color:indianred' :
        (query.isDark || prefer.darkMode) && !query.isList && totalProgress > 50
          ? 'color:yellowgreen' :
        query.isDark || prefer.darkMode
          ? 'color:#FFA500' :
        !query.isList && totalProgress > 50
          ? 'color:royalblue'
          : 'color:indianred'
      }`, {
        'ml:1.15em@xs': query.is3D,
      }]"
    >
      <span v-show="promptMessage" class="font-size:.57em">({{ promptMessage }})<br></span>
      <span>{{ utils.getUppercaseFileName(filePath) }}</span>
    </h1>
  </header>

  <section
    v-for="item of items"
    v-cloak
    class="w:85vw my:1.5em my:1.25em@xs"
    :class="[`${style.group(`
      min-width:20em w:auto ${
      query.is3D
        ? `max-width:26.5em p:2em r:1em ${
          query.isLight && item.open
            ? style.lightTheme.neumorphism.pressed :
          query.isLight
            ? style.lightTheme.neumorphism.flat :
          (query.isDark || prefer.darkMode) && item.open
            ? style.darkTheme.neumorphism.pressed :
          query.isDark || prefer.darkMode
            ? style.darkTheme.neumorphism.flat :
          item.open
            ? style.lightTheme.neumorphism.pressed
            : style.lightTheme.neumorphism.flat
          }` 
        : 'max-width:22.5em'
      }`, '@xs')}`,
      { 'cursor:pointer': !item.open, }
    ]"
    @click="if (!item.open) toggleOpen(item);"
  >
    <h2 class="flex align-items:center cursor:pointer" @click.stop="toggleOpen(item);">
      <span class="ml:-.2em ~transform|.2s@motion" :class="`${
        item.open
          ? 'translateY(.1em)|scale(1.35)|rotate(90deg)'
          : 'translateY(.1em)|scale(1.35)'
      }`">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
          :fill="`${
            query.isLight
              ? style.lightTheme.color.replace('color:', '') :
            query.isDark || prefer.darkMode
              ? style.darkTheme.color.replace('color:', '')
              : style.lightTheme.color.replace('color:', '')
          }`"
        >
          <path d="M10 17l5-5-5-5v10z"/>
        </svg>
      </span>
      <span :class="[style.truncate, { 'mr:.5em': !item.completeTimes && item.progress }]">
        {{ item.title }}
      </span>
      <sup
        v-if="!query.isList && query.isCycle"
        class="~opacity|.2s@motion"
        :class="[
          `${
            item.completeTimes
              ? 'ml:.3em'
              : 'opacity:0 position:absolute'
          }`, { 'mr:.5em': item.progress }
        ]"
      >
        {{ item.completeTimes }}
      </sup>
      <span
        v-if="!query.isList"
        v-show="item.progress"
        class="ml:auto ~color|.2s@motion"
        :class="`${
          item.progress === 100 ? `${
          query.isLight
            ? 'color:silver' :
          query.isDark || prefer.darkMode
            ? 'color:gray'
            : 'color:silver'
          }` : ''
        }`"
      >
        {{ item.progress }}%
      </span>
    </h2>
    <div
      class="~transform|.2s@motion"
      :class="`${
        item.open
          ? 'translateY(0)'
          : `translateY(-.75em) ${style.hidden}`
      }`"
    >
      <hr class="my:.5em border-bottom:.07em|solid">
      <div v-if="item.descriptions.length" class="letter-spacing:.01em text:justify">
        <p v-for="description of item.descriptions" class="my:.75em font-size:.95em">
          {{ description }}
        </p>
      </div>
      <hr v-if="item.descriptions.length && item.tasks.length" class="my:.5em border-bottom:.07em|outset">
      <label
        v-for="(task, taskId) of item.tasks"
        class="py:.25em flex align-items:start flex>span letter-spacing:.01em ~color|.2s@motion"
        :class="[
          `${
            !query.isList && task.editable
              ? 'cursor:pointer'
              : 'pointer-events:none'
          }`, { 'color:darkgray grayscale(100%) text:line-through': !query.isList && task.completed }
        ]"
        @click.prevent="if (!query.isList) toggleCompleted(item, taskId);"
      >
        <span v-if="query.isList && !query.isOrdered" class="mr:.1em translateY(.2em)|scale(.5)">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" :fill="`${
            query.isLight
              ? style.lightTheme.color.replace('color:', '') :
            query.isDark || prefer.darkMode
              ? style.darkTheme.color.replace('color:', '')
              : style.lightTheme.color.replace('color:', '')
          }`">
            <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"/>
          </svg>
        </span>
        <span v-if="!query.isList">
          <input
            type="checkbox" :name="task.task" :value="task.completed"
            class="
              mr:.3em translateY(.2em) w:1em h:1em
              accent-color:gray outline:.1em|solid|steelblue:focus
              appearance:none position:absolute"
            v-effect="task.completed ? $el.setAttribute('checked', true) : $el.removeAttribute('checked');"
          >
          <span class="mr:.3em translateY(.2em)|scale(1.3)">
            <svg
              xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
              :fill="
                query.isLight && task.completed
                  ? 'gray' :
                query.isLight
                  ? 'dimgray' :
                (query.isDark || prefer.darkMode) && task.completed
                  ? 'lightgray' :
                query.isDark || prefer.darkMode
                  ? 'darkgray' :
                task.completed
                  ? 'gray'
                  : 'dimgray'"
              class="~fill|.2s@motion"
            >
              <path :d="
                task.completed && query.isOutlined
                  ? 'M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM17.99 9l-1.41-1.42-6.59 6.59-2.58-2.57-1.42 1.41 4 3.99z' :
                task.completed
                  ? 'M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'
                  : 'M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'
              "/>
            </svg>
          </span>
        </span>
        <span>
          <span v-if="query.isOrdered" :class="{ 'ml:.15em': query.isList }">{{ taskId + 1 }}.&nbsp;</span>
          <div class="word-break:break-all" :class="{ 'ml:.15em': !query.isOrdered }">
            {{ task.task }}
          </div>
        </span>
      </label>
    </div>
  </section>

  <div
    v-if="!query.isList && !query.isCycle"
    class="fixed top:0 h:.2em pointer-events:none z:1 ~width|.3s"
    :class="`w:${totalProgress}vw ${
      query.isLight && totalProgress > 50
        ? 'bg:royalblue' :
      query.isLight
        ? 'bg:indianred' :
      (query.isDark || prefer.darkMode) && totalProgress > 50
        ? 'bg:yellowgreen' :
      query.isDark || prefer.darkMode
        ? 'bg:#FFA500' :
      totalProgress > 50
        ? 'bg:royalblue'
        : 'bg:indianred'
    }`"
  ></div>

  <style>
    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    #loader {
      color: #111;
      background-color: whitesmoke;
      font-size: 2.5rem;
    }
    @media screen and (prefers-color-scheme: dark) {
      #loader {
        color: #eee;
        background-color: #111;
      }
    }
    @media screen and (width >= 1920px) {
      #loader {
        font-size: 2vw;
      }
    }
  </style>
  <div
    id="loader"
    style="
      position: fixed; left: 0; top: 0; z-index: 1;
      width: 100vw; height: 100vh;
      display: grid; place-content: center;
      font-family: Tahoma; font-weight: bold;"
  >
    <div style="
      width: 1em; height: 1em; margin-inline: auto;
      border-width: .15em; border-radius: 50%;
      border-right-color: transparent;
      animation: spin 1s linear infinite;
    "></div>
  </div>
</body>
</html>