<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/icon_robot.png" type="image/png">
  <title>Disciplinarian</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body { font-family: 'Noto Sans TC', sans-serif; }
    [v-cloak] { display: none; }
  </style>
  <link href="https://cdn.master.co/normal.css" rel="stylesheet">
  <script src="https://cdn.master.co/css"></script>
  <script src="./src/scripts/script.js" type="module"></script>
</head>
<body
  v-cloak
  class="grid place-content:center gap:2em px:1.5em py:2em min-height:100vh font:1.2em font:1vw@3xl bg:seashell@light color:whitesmoke@dark bg:#222@dark user-select:none"
  @vue:mounted="init()"
  @contextmenu.prevent="$event.target.click()"
>
  <section v-for="item of items" class="w:85vw w:20em@xs">
    <h2 class="flex align-items:center cursor:pointer" @click="toggleOpen(item)">
      <span class="w:.8em">{{ item.open ? '▾' : '▸' }}</span>
      <span
        class="white-space:nowrap overflow:hidden text-overflow:ellipsis"
        :class="{
          'max-width:calc(100%-6.25em)': item.progress,
          'max-width:calc(100%-3em)': !item.progress
        }"
      >
        {{ item.title }}
      </span>
      <sup v-show="item.completeTimes" class="ml:.3em">{{ item.completeTimes }}</sup>
      <div v-show="item.progress" class="ml:auto content:'｜':before content:'%':after">{{ item.progress }}</div>
    </h2>
    <hr class="my:.5em border-bottom:.08em|solid">
    <div v-show="item.open">
      <ul v-if="item.descriptions.length" class="mt:1em mb:.75em letter-spacing:.01em">
        <strong class="mb:.5em block">注意事項：</strong>
        <li
          v-for="description of item.descriptions"
          class="my:.25em ml:1.4em list-style:circle"
        >
          {{ description }}
        </li>
      </ul>
      <hr v-if="item.descriptions.length" class="my:.5em border-bottom:.08em|outset">
      <label
        v-for="(task, taskId) of item.tasks"
        class="py:.25em flex align-items-center letter-spacing:.01em"
        :class="{
          'color:darkgray text:line-through': task.completed,
          'cursor:pointer': task.editable,
          'pointer-events:none': !task.editable
        }"
        @click.prevent="toggleCompleted(item, taskId);"
      >
        <input
          type="checkbox" :name="task.task" :value="task.completed"
          class="position:relative mr:.3em mt:.15em w:1em h:1em accent-color:gray appearance:none border:.125em|solid r:.1em outline:.1em|solid|steelblue:focus"
          :class="[
            style.group(`content:'⌙' position:absolute w:100% h:100% translate(-.1em,-.15em)|rotate(-45deg)|scale(1.2) flex justify-content:center align-items:center ${task.completed ? 'color:white' : 'color:transparent'}`, ':before'), {
            'border-color:darkgray bg:darkgray': task.completed,
            'border-color:dimgray': !task.completed,
          }]"
          v-effect="task.completed ? $el.setAttribute('checked', true) : $el.removeAttribute('checked');"
        >
        <span class="w:95% flex">{{ taskId + 1 }}.&nbsp;
          <div>{{ task.task }}</div>
        </span>
      </label>
    </div>
  </section>
</body>
</html>